{% extends "base.html" %}
{% block title %} Login-Page {% endblock title%}

{% block content %}
<div>
    <b>
        <h1 style="text-align: center; padding-top: 20px;" >WELCOME TO THE LOGIN PAGE</h1>
    </b>
</div>
<br>


<!-- {% with messages = get_flashed_messages() %}
    {% if messages %}
        {% for message in messages %}
            <p><h6>{{message}}</h6></p>
        {% endfor %}
    {% endif %}
{% endwith %} -->
<div class="col-md-5">
    {% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
</div>
<br>
<br>
<div class="section">
    <div class="container">
        <div class="row">
            <form action="/login" method="POST" name="myForm"  onsubmit="return validateForm()" >
                <div class="col-md-6 mb-3 ">
                  <label for="exampleInputEmail1" class="form-label">Email address</label>
                  <input type="email" name="nm" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                  <div id="emailHelp"  class="form-text">We'll never share your email with anyone else.</div>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
              </form>

        </div>

    </div>
    
</div>

<script>
    function validateForm() {
      var x = document.forms["myForm"]["nm"].value;
      if (x == "" || x == null) {
        alert("Email must be filled out");
        return false;
      }
    }
    </script>

{% endblock content %}