{% extends "base.html" %}
{% block title %}  update-names  {% endblock  title %}

{% block content %}

<div class="row mt-4 ">
    <div class="col-md-6">
        <ol class="oll" start="0 "> 
            <h5><b>Candidates Name</b> </h5>       
            {% for i in range(0,val3) %}
            <li>{{val[i]}}</li>
            {% endfor %}
          </ol>  
    </div>
    <div class="col-md-6">
        <form action="/update-view" method="POST">
            <h5><b>Update the the Name</b> </h5>
                <h6>Enter the index number of the Name that you want to change</h6>
            <input type="number" name="num1" placeholder="Enter the index number "><br><br>
            <h6>Enter the new Name</h6>
            <div class="form-group row">
                <div class="col-xs-4">                   
                    <input type="text" id="upt" name="upt" placeholder="Enter the New Name">
                </div>
    
            </div>
    
            <input class="btn btn-success" type="submit" value="Submit">
        </form>

    </div>
</div>


<!-- <div class="col-md-6"style="text-align=center" >
           
    <ol class="oll" start="0 "> 
        <h5><b>Candidates Name</b> </h5>       
        {% for i in range(0,val3) %}
        <li>{{val[i]}}</li>
        {% endfor %}
      </ol>  

</div>
<div class="col-md-6 container">
   
        
        <form action="/update-view" method="POST">
            <h5><b>Update the the Name</b> </h5>
                <h6>Enter the index number of the Name that you want to change</h6>
            <input type="text" name="num1" placeholder="Enter the index number "><br><br>
            <h6>Enter the new Name</h6>
            <div class="form-group row">
                <div class="col-xs-4">                   
                    <input type="text" id="upt" name="upt" placeholder="Enter the New Name">
                </div>
    
            </div>
    
            <input class="btn btn-success" type="submit" value="Submit">
        </form>
    </div>

</div>

</div> -->
{% endblock content %}